* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
width: 100%;
background: #05070d;

}
html {scroll-behavior: smooth;}
main {
    width: 100%;
}
nav {
    display: flex;
    width: 100%;
    padding: 20px 60px 20px 40px;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav p {
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    animation: fadeLeft 1s ease;
}
ul {
    display: flex;
    gap: 60px;
    margin-left: auto;  
}
li {
    list-style-type: none;  
    transition: 0.3s;
}

li:hover{
   border-bottom: 2px solid #0ef;
}

li a {
    text-decoration: none;
    color: #f8fafc;
    font-size: 18px;
    font-weight: 500;
}


#profil {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 120px 5%;

}
#profil .texte {
    flex: 1;
    animation: fadeTop 2s ease;
}
.salut {
    color: #00d9ff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    
}

#profil .texte h1 {
    margin-top: 15px;
    font-size: 65px;
    line-height: 1.1;
    color: white;
    opacity: 0;
    animation: fadeTop1 1s ease forwards;
    animation-delay: .7s;

}
#profil .texte h1 span {
color: #00d9ff;
}


#profil .texte h2 {
    margin-top: 15px;
    font-size: 34px;
    color: #bfbfbf;
    font-weight: 600;
    opacity: 0;
    animation: fadeBottom 1s ease forwards;
    animation-delay: 1.5s;
}

#profil .texte p {
    margin-top: 30px;
    max-width: 620px;
    color: #b5b5b5;
    font-size: 18px;
    line-height: 1.9;
}
#profil .texte .icon {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    opacity: 0;
    animation: fadeRight 1s ease forwards;
    animation-delay: 2.5s;
}
#profil .texte .icon img {
    width: 35px;
    height: 35px;
    transition: 0.5s;
    border: 1px solid #0ef;
    border-radius: 50%;
    
    
}
#profil .texte .icon img:hover {
    transform: scale(1.2)
    translateY(-5px);
    box-shadow: 0 1px 10px #0ef;
}
#profil .texte .buttons {
    display: flex;
    margin-top: 20px;
}

#profil .texte .buttons .btn {
    display: inline-block;
    margin-right: 20px;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: .35s;
}

.first {
    background: #00d9ff;
    color: #081018;
}
.first:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 35px rgba(34, 211, 238, .5);
}
.second {
    border: 2px solid #00d9ff;
    color: white;
}
.second:hover {
    background: #00d9ff;
    color: #081018;
    transform: translateY(-6px);

}
#profil .profil {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeRight 1s ease forwards;
    animation-delay: 3.5s;
    opacity: 0;
}

#profil .profil img {
    width: 390px;
    height: 390px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    background: #05070d;
    box-shadow: 0 1px 20px #00d9ff;
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-18px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes fadeTop{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeRight{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeBottom{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTop1{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#apropos {
    width: 90%;
    height: 100vh;
    max-width: 1400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin: 120px auto;
}
#apropos .texte {
    width: 45%;
}
#apropos .texte span {
    color: #00d9ff;
}
#apropos .texte h2 {
    font-size: 68px;
    margin: 10px 0 40px;
    line-height: 70px;
}
#apropos .texte h2 span {
    text-shadow: 0 0 15px rgba(47, 181, 204, .6);

}

#apropos .texte p {
    font-size: 20px;
    line-height: 38px;
    text-align: justify;
    color: #d8d8d8;
}
#apropos .texte .name {
    margin-top: 35px;
    color: #00d9ff;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    position: relative;  
}
#apropos .texte .name::after {
    content: "";
    width: 90px;
    height: 3px;
    background: #00d9ff;
    display: block;
    margin-top: 8px;
}
#apropos .experience {
    width: 55%;
}
#apropos .experience .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
#apropos .experience .card {
    height: 190px;
    background: #111827;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, .08);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;

}
#apropos .experience .card:hover {
    transform: translateY(-10px) scale(1.03);
    background: #152238;
    box-shadow: 0 0 30px rgba(27, 181, 204, .7);
}
#apropos .experience .card:hover h2 {
    text-shadow: 0 1px 30px #00d9ff;
    transition: 1s;
    transform: scale(1.1);

}
#apropos .experience .card h2 {
    color: #00d9ff;
    font-size: 48px;
    margin-bottom: 12px;
}
#apropos .experience .card p {
    color: #d9d9d9;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}

#projets {
    width: 100%;
    height: 100vh;
    padding: 30px 8%;
    background-color: linear-gradient(180deg,#060b16,#0b1324,#05070d);
}
#projets h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}
#projets h2 span {
    color: #00d9ff;
}
#projets p.section {
    color: #a5b4c3;
    font-size: 18px;
    margin-bottom: 70px;
}
#projets .cards {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
#projets .card {
    width: 360px;
    min-height: 500px;
    padding: 40px;
    border-radius: 25px;
    background: rgba(255,255,255,.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, .08);
    transition: .45s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 35px rgba(0,0,0,.4);
}
#projets .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 25px 60px rgba(0, 217, 255, .25);
    border: 1px solid #00d9ff;
}
#projets .card .texte {
    padding: 0 20px;
}
#projets .card img {
    width: 90px;
    height: 90px;
    padding: 18px;
    background: #00d9ff20;
    border-radius: 50%;
    margin-bottom: 40px;
    transition: .4s;   
}
#projets .card:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 35px #00d9ff;
}
#projets .card span:first-child {
    color: #00d9ff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    
}


#projets .texte h3 {
    color: white;
    margin: 18px 0;
    font-size: 30px;
    font-weight: 700;
}
#projets .card p {
    color: #b6c2d1;
    line-height: 1.8;
    margin-bottom: 30px;
    font-size: 17px;

}
#projets  .card span:last-child {
    display: inline-block;
    padding: 8px 16px;
    background: #00d9ff20;
    color: #00d9ff;
    border-radius: 20px;
     border: 1px solid #00d9ff;
     font-size: 14px;
     font-weight: 600;

}
https://mon-portfolio-740hkxh2l-ottis1.vercel.app/